.container
{
	width:100%;
}

.event-header{
	padding-top: 0px;
	height:350px;
  background-image:url("../image/Food-Truck.jpeg");
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: multiply;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,

.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(0,0,0,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.logan
{	
  color:white;
  margin-left: auto;
  margin-right: auto;
  width:1000px;
	padding-top: 50px;
  padding-bottom: 50px;

	text-align: center
}

.form-inline
{
  width:900px;
  margin-left: auto;
  margin-right: auto;
}

.event-name
{ 
  margin-top: 70px;
  font-size: 40px;
  font-weight: bold;
}
.brief
{
  font-size:20px;
}

.intro
{  
   background-color: transparent;
   float:left;
   /*border: 1px solid;*/
   width: 700px;
   margin-left:30px;
   margin-right:15px;

}
.location
{ 
  float:left;
  width: 350px;
  /*border: 1px solid;*/
  margin-left: 15px;
}
.info
{  
  border:1px solid;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width:1125px;
}

.map{
  margin-top:25px;
  width : 350px;
  height: 350px;
}


.title-text
{ 
  font-size: 20px;
}
.common-text
{
  font-size: 16px;
}
.nearby-info
{ 
  height:60px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left: auto;
  margin-right:auto;
  border: 1px solid;
  width: 1125px;
}
.tag 
{ 
  border-radius: 10px;
}
.page-menu
{
  background-color:#333333;
  text-align: center;
  color:gray;
}
